type: "MARKDOWN_NOTE"
folder: "3dda324c5bc25ba36056"
title: "Front-End Development"
content: '''
  # Front-End Development
  ![Image of Flow Process](https://content-static.upwork.com/blog/uploads/sites/3/2015/05/05110037/Front-end-dev1.png)
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-12-01T01:52:37.044Z"
updatedAt: "2017-12-01T01:52:43.235Z"
